[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
django-filter = "*"
django-cors-headers = "*"
django-storages = "*"
boto3 = "*"
pillow = "*"
django-3-jet = "*"
channels = "*"
django-channels-jwt-auth-middleware = "*"
channels-redis = "*"

[dev-packages]

[requires]
python_version = "3.9"
